<table class="table table-striped">
 <thead>
  <tr>
    <th width="15%"><%= sortable "user_id", t("name") %></th>
    <th width="20%"><%= sortable "subject", t("subject") %></th>
    <th width="15%"><%= sortable "created_at", t("general.date")%></th>
    <th width="10%"><%= sortable "status_id", t("general.status") %></th>
    <th width="10%"><%= sortable "priority_id", t("general.priority") %></th>
    <th width="15%">&nbsp;</th>
    <th width="15%"><%= t("general.actions") %></th>
  </tr>
 </thead>

  <tbody>
    <% if @tickets.size > 0 %>
      <% @tickets.each do |o_row| %>
        <tr>
          <td><%= o_row.user.name %></td>
          <td><%= o_row.subject %></td>
          <td><%= o_row.created_at.to_s(:default_date_time) if o_row.updated_at %></td>
          <td><%= ticket_status_hash[o_row.status_id.to_s] %></td>
          <td><%= ticket_priority_hash[o_row.priority_id.to_s] %></td>
          <% if (o_row.is_last_reply_by_staff?(current_user.id) and o_row.status_id == 1) %>
          	<td class="redDark"><%=  "Awaiting for reply" %></td>
          <% else %>	
          	<td class="greenStart"><%=  "Reply sent" %></td>
          <% end %>
          <% if (o_row.status_id == 1 or o_row.status_id == 2) %>
            <td>
              <%= link_to t('general.reply'), ticket_reply_path(@current_company.sub_domain, o_row.id), :class => 'btn btn-warning btn-small' %>
            </td>
          <% else %>
            <td class="">&nbsp;</td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan="7"><%= t("general.record_not_found") %></th></tr>
    <% end %>
  </tbody>
</table>
<div class="fr"><%= will_paginate @tickets %></div>
