

<%= form_for @ticket_reply, :url => ticket_reply_create_path, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :ticket_id, :value => params[:id] %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :user_type, :value => "Staff" %>  
  
  
  <div id="flash_message" class="field"></div>


  <div class="field">
    <%= f.text_area :description, :class => 'input-xxlarge textArea' %>
   	<% if @ticket_reply.errors[:description].any? %>
    	<span class="text-error text-message"><%= @ticket_reply.errors[:description].first %></span>
  	<% end %>
  </div>

        
  <div class="">
    <%= f.submit nil, :class => 'btn btn-primary', :value => "Reply" %>
    <%#= f.submit nil, :class => 'btn btn-primary', :value => "Reply & Close", :name => "reply_close" %>
  </div>
<% end %>


<script type="text/javascript">
	$(document).on('page:load', function(){
	  window['rangy'].initialized = false
	})
  $(document).ready(function(){

    //$('.wysihtml5').each(function(i, elem) {
      //$(elem).wysihtml5();
    //});

  })
</script>
