<h3>New Reply</h3>

<%= form_for @ticket_reply, :url => ticket_reply_create_path, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :ticket_id, :value => params[:id] %>
  <%= f.hidden_field :user_id, :value => @ticket.user_id %>  
  <% if @ticket_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_reply.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket_reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
        
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
