<div class="page-header">
	<h4>
		<h4><%= t("general.company_details") %></h4>
	</h4>
</div>
<div class="container pt60">
	<% if @current_company.present? %>
		<% if @current_company.is_confirmed_and_active? %>
			<table class="table">
				<tr><td>Company Name:</td><td><%= @current_company.name %></td><td width="40%">&nbsp;</td><td>Company URL:</td><td><%= @current_company.url %></td></tr>
				
				<tr><td>Contact:</td><td><%= @current_company.mobile %></td><td width="40%">&nbsp;</td><td>Email:</td><td><%= @current_company.email %></td></tr>
			</table>
		<% else %>	
			<h3>
				<%= "#{params[:sub_domain]} is not activated. Please contact to administrator." %>
				<h2><%= link_to 'Contact Administrator', contact_us_path %></h2>
			</h3>
		<% end %>				
	<% else %>	
		<h3>
			<%= "#{params[:sub_domain]} is not registered with SupportEngine." %>
			<h2><%= link_to 'Join US', join_us_path %></h2>
		</h3>
	<% end %>	
</div>