<div class="row mt centered">
	<div class="col-lg-6 col-lg-offset-3">
		<h1><%= t("general.contact_us") %></h1>
	</div>
</div>
<div class="col-lg-12">
	
	<%= form_for @o_single, :url => contact_us_path, :html => { :class => 'form-inline' } do |f| %>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="form-group">
      	<%= f.text_field :name, :class => 'form-control', :placeholder => 'Your Name' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %>        
      </div>
    </div>
    
    <div class="control-group">
    	<label class="control-label">&nbsp;</label>
      <div class="form-group">
      	<%= f.text_field :email, :class => 'form-control', :placeholder => 'Your Email' %>  
       	<% if @o_single.errors[:email].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:email].first %></span>
      	<% end %>                
      </div>
    </div>
    	
    	
	    <div class="control-group">
	    	<label class="control-label">&nbsp;</label>
	      <div class="form-group">
					<%= f.text_area :message, :class => 'textAreaBig form-control', :placeholder => 'Type your message here' %>
	      </div>
	    </div>    	

    <div class="control-group form-action">
    	<label class="control-label">&nbsp;</label>
    	<div class="form-group">
      	<%= f.submit t("general.send"), :class => 'btn btn-warning btn-lg ' %>
      	<%= link_to 'Cancel', root_url, :class => 'btn btn-warning btn-lg' %>
      </div>	
    </div>

    
<% end %>
</div>

<script type="text/javascript">
	$(document).on('page:load', function(){
	  window['rangy'].initialized = false
	})
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>