<% if flash[:notice_reply] %>
  <div class="alert alert-warning"><%= flash[:notice_reply] %></div>
  <% flash[:notice_reply] = nil %>
<% end %>  

<% if flash[:success_reply] %>
  <div class="alert alert-success"><%= flash[:success_reply] %></div>
  <% flash[:success_reply] = nil %>
<% end %>

<%= form_for @ticket_reply, :url => reply_create_path(@current_company.sub_domain), :html => { :class => 'form-inline' } do |f| %>
  <%= f.hidden_field :ticket_id, :value => params[:id] %>
  <%= f.hidden_field :user_id, :value => @ticket.user_id %>
  <%= f.hidden_field :user_type, :value => "User" %>   

<div id="flash_message" class="field"></div>

	    <div class="control-group">
	      <%= f.label :description, :class => 'control-label' %><span class="redStart">*</span>
	      <div class="form-group">
	        <%= f.text_area :description, :class => 'form-control textAreaBig' %>
	       	<% if @ticket_reply.errors[:description].any? %>
	        	<span class="text-error text-message"><%= @ticket_reply.errors[:description].first %></span>
	      	<% end %>        	        
	      </div>
	    </div>
  
	    <div class="control-group">
	      <%= f.label :attached_file, :class => 'control-label' %><span class="redStart">&nbsp;</span>
	      <div class="form-group">
			    <%= f.file_field :attached_file, :class => 'form-control' %>
	      </div>
	    </div>	 <br />

	    <div class="control-group">
	    	<label class="control-label">&nbsp;</label>
	    	<div class="form-group">
			    <%= f.button "Reply", :class => 'btn btn-warning btn-lg', :id => "reply" %>
			    <%= f.button "Reply & Close", :class => 'btn btn-warning btn-lg', :id => "reply_close", :type => "button" %>
			    <%= link_to "Cancel", company_tickets_path(@current_company.sub_domain), :class => 'btn btn-warning btn-lg' %>
	      </div>	
	    </div>
	    
<% end %>
