<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Ticket create</title>
</head>
<body>
  <div class='email-body'>
    <p>
    	Hello <%= @email %>,
    </p>	 
    <h3><strong></strong><%= @ticket_subject %></h3>
    <p>
    	<%= @ticket_description.html_safe if @ticket_description %>
    </p>
    <br />
    You could verify updates here regarding this ticket: <a href="<%= ticket_url(@ticket_id) %>"><%= ticket_url(@ticket_id) %></a>
    
    Thanks,<br />
    SupportEngine
  </div>
</body>
</html>
