<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Ticket create</title>
</head>
<body>
  <div class='email-body'>
    <p>
    	Hello <%= @email %>,
    </p>	 
    
		<p>
			Your Ticket has been received and a member of our staff will review it and reply accordingly. Listed below are details of this Ticket. Please make sure the Ticket ID remains in the subject at all times.
		</p>    
		
    <p>
        Ticket ID: <%= @ticket.ticket_secret %><br />
        Subject: <%= @ticket.subject %><br />
        Type: <%= @ticket.ticket_type %><br />
        Priority: <%= @ticket.priority_id %><br />
        Status: <%= @ticket.status_id %><br />
    </p>
    
    <p>
			You can check the status of or reply to this Ticket online at: <a href="<%= ticket_url(@ticket.ticket_secret) %>"><%= ticket_url(@ticket.ticket_secret) %>
    </p>
    
    <p>
    	 Please do let us know if we can assist you any further,
    </p>
    
    SupportEngine
    
  </div>
</body>
</html>
