<%#= form_for @ticket, :url => { :action => 'index' }, :html => { :id => "index_form" }, :method => "get", :remote => true do |f| %>
<table class="table table-striped">
 <thead>
  <tr>
  	<!--<th width="5%"><%#= check_box_tag "check_all", "" %><%= t("general.all") %></th>-->
    <th width="20%"><%= t("subject") %></th>
    <!--th width="15%"><%= t("role") %></th-->
    <th width="15%"><%= sortable "updated_date", t("general.last_updated")%></th>
    <th width="10%"><%= sortable "status_id", t("general.status") %></th>
    <th width="10%"><%= sortable "priority_id", t("general.priority") %></th>
    <th width="15%">&nbsp;</th>
    <th width="15%"><%= t("general.actions") %></th>
  </tr>
 </thead>

  <tbody>
    <% if @o_all.size > 0 %>
      <% @o_all.each do |o_row| %>
        <tr>
        	<!--<th><%#= check_box_tag "rec["+o_row.id.to_s+"]", "" %></th>-->
          <td><%= o_row.subject %></td>
          <!--td><%#= o_row.role.role_type %></td-->
          <td><%= o_row.created_at.to_s(:pretty_view) if o_row.updated_at %></td>
          <td><%= o_row.status_id == 1 ?  "Open" : "Close" %></td>
          <td><%= o_row.priority_id == 1 ?  "Normal" : "High" %></td>
          <% if o_row.is_last_reply_by_staff?(current_user.id) %>
          	<td class="redStart"><%=  "Awaiting for reply" %></td>
          <% else %>	
          	<td class="">&nbsp;</td>
          <% end %>
          <td>
			      <%#= link_to t('general.edit'),
			         #         edit_ticket_path(o_row), :class => 'btn btn-mini' %>
            <%= link_to t('general.reply'), ticket_path(o_row.ticket_secret), :class => 'btn btn-mini' %>
			      <%#= link_to t('general.destroy'),
			                  #ticket_path(o_row),
			                  #:method => :delete,
			                  #:data => { :confirm => t('general.confirm') },
			                  #:class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan="6"><%= t("general.record_not_found") %></th></tr>
    <% end %>
  </tbody>
</table>
<div class="fr">
	<%= will_paginate @o_all %>
</div>

