<%= form_for @ticket_reply, :url => reply_create_path, :html => { :multipart => true, :class => 'form-horizontal', :id => 'ticket_reply_form_id' } do |f| %>
  <%= f.hidden_field :ticket_id, :value => @ticket.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :user_type, :value => "User" %>
  
  <%= hidden_field_tag "reply_close", "", :id => 'input_reply_close' %>
     
	<div id="flash_message" class="field"></div>

  <div class="field">
    <%= f.text_area :description, :class => 'input-xxlarge textArea' %>
   	<% if @ticket_reply.errors[:description].any? %>
    	<span class="text-error text-message"><%= @ticket_reply.errors[:description].first %></span>
  	<% end %>
  </div>
  
  <div class="field">
    <%= f.label :attached_file %>
    <%= f.file_field :attached_file %>
  </div>   

  <div class="">
    <%= f.button "Reply", :class => 'btn ', :id => "reply" %>
    <%= f.button "Reply & Close", :class => 'btn ', :id => "reply_close", :type => "button" %>
  </div>
<% end %>

<script type="text/javascript">
	$(document).on('page:load', function(){
	  window['rangy'].initialized = false
	})
	
  $(document).ready(function(){

		$("#reply").submit(function() {
		    /* Do Something */
		    return false;
		});

	  $("#reply_close").click(function(){
	    if (!confirm("Do you want to close ticket?")){
	    	
	      return false;
	    }else {
	    	$("#input_reply_close").val(true);
	    	$("#ticket_reply_form_id").submit();
	    }
	  });
	  
    //$('.wysihtml5').each(function(i, elem) {
      //$(elem).wysihtml5();
    //});

  });
</script>