<table class="table table-striped">
  <% if @ticket_replies.count > 0 %>
	    <% @ticket_replies.each do |t| %>
			  <tr>
				  <td>
	        	<p>
	        		<%= t.description.html_safe if t.description %><br />
		        	<% if t.attached_file.present? %>
		        		<%= link_to t.attached_file.path.split("/").last, download_path(t.id, 'ticket_reply'), :style => "text-decoration: underline;" %>
		        	<% end %>
	        	</p>
	        	<strong style="font-size: 12px;"><i>Posted by <%= t.user.name.humanize %> On <%= t.created_at.to_s(:default_date_time) %></i></strong>				  	
				  		
	        </td>
	     </tr>
	    <% end %>
  <% else %>
    <tr>
      <td><%= t('general.record_not_found') %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Cancel", admin_tickets_path, :class => 'btn btn-warning btn-lg' %>