<h3>New Reply</h3>

<%= form_for ["admin", @ticket_reply], :url => reply_create_path, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :ticket_id, :value => params[:id] %>
  <%= f.hidden_field :user_id, :value => @ticket.user_id %>
  <%= f.hidden_field :user_type, :value => "User" %>   


  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'input-xlarge' %>
   	<% if @ticket_reply.errors[:description].any? %>
    	<span class="text-error text-message"><%= @ticket_reply.errors[:description].first %></span>
  	<% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
