<%- model_class = Ticket -%>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

	<% if flash[:success_reply] %>
	  <div class="alert fade in alert-success"><%= flash[:success_reply] %></div>
	  <% flash[:success_reply] = nil %>
	<% end %>   	

<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> (<span id="count_records"><%= @o_all.count %></span>)</h4>
</div>

<div id="div_update">
	<%= render "fetchAll" %>
</div>


