<%= form_for @o_single, :url => { :action => 'index' }, :html => { :id => "index_form" }, :method => "get", :remote => true do |f| %>
<table class="table table-striped">
 <thead>
  <tr>
  	<th width="5%"><%= check_box_tag "check_all", "" %><%= t("general.all") %></th>
    <th width="20%"><%=raw sortable "first_name", t("username") %></th>
    <th width="20%"><%= sortable "email", t("email") %></th>
    <th width="15%"><%= t("role") %></th>
    <th width="15%"><%= sortable "created_at", t("general.date")%></th>
    <th width="10%"><%= sortable "is_active", t("general.active") %></th>
    <th width="15%"><%= t("general.actions") %></th>
  </tr>
 </thead>

  <tbody>
    <% if @o_all.size > 0 %>
      <% @o_all.each do |o_row| %>
        <tr>
        	<th><%= check_box_tag "rec["+o_row.id.to_s+"]", "" %></th>
          <td><%= o_row.name %></td>
          <td><%= o_row.email %></td>
          <td><%= o_row.role.role_type %></td>
          <td><%= o_row.created_at.to_s(:pretty_view) if o_row.created_at %></td>
          <td><%= o_row.is_active ? image_tag("Yes.gif") : image_tag("No.gif") %></td>
          <td>
			      <%= link_to t('general.edit'),
			                  edit_admin_user_path(o_row), :class => 'btn btn-mini' %>
			      <%= link_to t('general.destroy'),
			                  admin_user_path(o_row),
			                  :method => :delete,
			                  :data => { :confirm => t('general.confirm') },
			                  :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan="6"><%= t("general.record_not_found") %></th></tr>
    <% end %>
  </tbody>
</table>
<div class="fr">
	<table>
		<tr>
            <td><%= render 'layouts/common_pager' %></td>
			<td>
				<%= select_tag "set_pager_number", options_for_select(get_pager_numbers, session[:set_pager_number]),
																	:data => { :remote => true, :url => url_for(:action => "index") },
																	:class => ""  %>
			</td>
			<td>&nbsp;</td>
			<td>
				<%= will_paginate @o_all %>
			</td>
		</tr>
	</table>
</div>
<% end %>
