<div class="col-lg-12">
	<%= form_for @user_session, :html => { :class => 'form-inline' } do |f| %>
	
		<% if flash[:error] %>
		  <div class="control-group">
		    <div class="form-group">
				  <div class="text-error" id="notice"><%= flash[:error] %></div>
				  <% flash[:error] = nil %>
		    </div>
		  </div>
		<% end %>    
	
	  <div class="control-group">
	    <div class="form-group">
				<% @user_session.errors.full_messages.each do |msg| %>
					<% @msg_var = "general.#{msg.gsub(' ', "_")}" %>
					<span class="text-error"><%= t(@msg_var) %></span>
				<% end %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <div class="form-group">
	      <%= f.text_field :email, :placeholder => 'Email', :class => "form-control" %>
	    </div>
	  </div>
	
	  <div class="control-group">
	    <div class="form-group">
	      <%= f.password_field :password, :placeholder => 'Password', :class => "form-control" %>
	    </div>
	  </div>
	
	    <div class="control-group form-action">
	    	<div class="form-group">
					<%= f.submit t("general.login"), :class => 'btn btn-warning btn-lg' %>
					<%= link_to t("general.click_here_to_recover_your_account"), forgot_password_path(@current_company.sub_domain), :class => 'btn btn-warning btn-lg' %>
	      </div>	
	    </div>
	
	<% end %>
</div>
