<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupportEngine - Help Desk Software | Customer Service Software.</title>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "application", :media => "all" %>
					
    <!-- Fonts from Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    
    <%= javascript_include_tag "application" %>
  </head>
  
  <body onload="getCaptcha();">
  	
    <%= javascript_include_tag "common" %>
		<%= render "layouts/header" %>
		
  	<div style="margin-top: 50px;">
  		<%= bootstrap_flash %>
  	</div>	
  	<%= yield %>
    
    <%= render "layouts/footer" %>
    
  </body>  

</html>
